html {
  font-size: 100%;
  box-sizing: border-box;
  font-family: var(--font-inter);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  background-color: var(--very-dark-blue);
  margin: 0;
  padding: 0;
}
